@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alata', sans-serif;
}

:root {
  --White: #fff;
  --Black: #000;
  --Gray: #f2f2f2;
  --Dark-Gray: #8c8c8c;
  --Very-Dark-Gray: #696969;
}

body {
  background-color: var(--Gray);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.header h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--White);
}

.header .hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 0.9rem;
}

.content {
  width: 342px;
  color: var(--White);
  margin: 8.3rem 1rem;
  border: 1px solid var(--White);
  padding: 1.5rem;
}

.content h2 {
  width: 279px;
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 1;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.fast-img {
  width: 375px;
  height: 650px;
  background-image: url('./images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 375px;
  font-size: 32px;
  text-align: left;
  height: 650px;
  background-color: #3c3a39;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* top: 0; */
  display: none;
  /* bottom: 0; */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 100px;
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.line {
  /* width: 100%; */
  height: 2px;
  background-color: #fff;
  transition: all 0.8s;
}

.logo:hover,
.logo:active {
  color: #e4752b;
}

.change {
  right: 0;
}

.color-caption {
  color: #172b4d;
  font-family: 'Roboto', sans-serif;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 8px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -8px);
}

.nav-list {
  list-style: none;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  padding-left: 30px;
}

.leader {
  width: 327px;
  height: 224px;
  background-image: url('./images/mobile/image-interactive.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 7rem 1rem;
  padding-top: 10rem;
}
